<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <script data-main="js/app" src="js/lib/require.js"></script>
    <link rel="stylesheet" type="text/css" href="css/main.css"/>
    <title>Contacts</title>
  </head>
  <body>
    <header id="toolbar">
      <input id="search" type="text" placeholder="Search your contacts" />
      <button id="addContact">
        Add Contact
      </button>
      <div id="menuButton">
        <img src="imgs/toolbarButton-menu.png" />
      </div>
    </header>

    <div id="contactsListPane">
    </div>
    <div id="detailPane">
      <div id="details">
      </div>
    </div>
  </body>

  <script id="contact-list-tmpl" type="text/template">
    <div class="contact-list-item">
      <img class="avatar" src="imgs/contact-generic.png" />
      <strong><span class="name"><%= name %></span></strong>
    </div>
  </script>

  <script id="contact-detail-tmpl" type="text/template">
    <div class="contact-details">
      <div class="contact-header">
        <img class="contact-photo" src="imgs/contact-generic.png" />
        <div class="contact-name"><%= name %></div>
      </div>

      <div class="contact-body">
        <input type="text" class="awesome-field"
               placeholder="Type in here to quickly add some contact information" />
      </div>

      <% _.each(email, function(address, i) { %>
      <div class="contact-field">
        <span class="type">Home</span>
        <span class="value"><%= address %></span>
      </div>
      <hr />
      <% }); %>
      <div class="contact-field">
        <span class="label">Add Email</span>
      </div>
      <hr />
      <div class="contact-field">
        <span class="label">Add IM</span>
      </div>
      <hr />
      <div class="contact-field">
        <span class="label">Add Phone</span>
      </div>
      <hr />
      <div class="contact-field">
        <span class="label">Add Email</span>
      </div>
      <hr />
      <div class="contact-field">
        <span class="label">Add Tag</span>
      </div>
      <hr />
      <div class="contact-field">
        <span class="label">Add Address</span>
      </div>
      <hr />
      <div class="contact-field">
        <span class="label">Add website</span>
      </div>
      <hr />
      <div class="contact-field">
        <span class="label">Add Date</span>
      </div>
      <hr />
      <div class="contact-field">
        <span class="label">Add Note</span>
      </div>
      <hr />
      <div class="contact-field">
        <span class="label">Add Custom</span>
      </div>
      <hr />
    </div>
  </script>

</html>
