body {
  margin: 0;
  padding: 0;
  font-family: Segoe UI,Verdana,sans-serif;
}

#toolbar {
  background: #DEECFA;
  padding: 5px;
  border-bottom: 1px solid #DDDDDD;
}

#menuButton {
  float: right;
  padding: 5px;
  border: 1px solid #DEECFA;
}

#contactsListSorter {
  position: absolute;
  top: 39px;
  left: 0px;
  width: 389px;
  background-image: -moz-linear-gradient(top, #FFFFFF, #DDDDDD);
  border: 1px solid #CCCCCC;
  border-top: 1px solid transparent;
  padding-left: 10px;
  padding-top: 2px;
  font-size: 0.7em;
  color: #555555;
  height: 15px;
}

#sortDirection {
  display: inline-block;
  margin-left: 250px;
  padding-left: 70px;
  border-left: 1px solid #CCCCCC;
  color: #888888;
  height: 15px;
}

#contactsListPane {
  overflow: auto;
  position: absolute;
  top: 58px;
  left: 0px;
  right: 0px;
  width: 400px;
  bottom: 0px;
  border-right: 1px solid #DDDDDD;
}

#detailPane {
  overflow: auto;
  position: absolute;
  top: 40px;
  left: 400px;
  bottom: 0px;
  right: 0px;
}

#search {
  border: 1px solid rgba(23, 51, 78, 0.3);
  width: 330px;
  padding: 5px;
  padding-right: 25px;
}

button {
  margin-left: 10px;
  padding: 3px;
  background: none;
  border: 1px solid #DEECFA;
}

button:hover {
  border: 1px solid rgba(23, 51, 78, 0.3);
  background: #EFFDFF;
}

button::-moz-focus-inner {
  border: 1px solid transparent;
}

#splitter {
  border: 1px solid black;
  height: 600px;
}
#splitter div {
  overflow: auto;
}
.vsplitbar {
  width: 5px;
  background: #aaa;
}

#contactsList {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.contact-list-item {
  padding: 10px;
  border-bottom: 1px solid #EEEEEE;
}

.ui-selected {
  background: #C3DBFA;
  font-weight: bold;
}

.ui-selecting {
  background: #B2CAE0;
}

.name {
  font-size: 0.8em;
}

.avatar {
  height: 25px;
  width: 25px;
  vertical-align: middle;
}

.combobox-toggle {
  background-image: -moz-linear-gradient(top, #FFFFFF, #DDDDDD);
  margin-left: -1px;
  margin-top: -1px;
  cursor: pointer;
  border: 1px solid rgba(23, 51, 78, 0.3);
  border-left-color: #787878;
  width: 35px;
  height: 29px;
}

.combobox-toggle img {
  vertical-align: middle;
  text-align: center;
}

.combobox-popup {
  position: fixed;
  top: 33px;
  left: 5px;
  width: 394px;
  height: 200px;
  background: #EFEFEF;
  border: 1px solid #AAAAAA;
}

.combobox-list {
  list-style-type: none;
  margin: 0;
  padding: 10px;
}

.combobox-list li {
  cursor: pointer;
  padding-left: 10px;
}

.combobox-list li:hover {
  background: #FFFFFF;
}

.contact-details {
  margin: 0;
  padding: 0;
}

.contact-header {
  background: #C3DBFA;
  margin: 0;
  padding: 10px;
  height: 150px;
}

.contact-body {
  padding: 10px;
}

.contact-photo {
  vertical-align: top;
  float: left;
  margin-right: 15px;
}

.contact-name {
  font-size: 1.5em;
}

.awesome-field {
  padding: 5px;
  width: 600px;
  margin-bottom: 20px;
}

.contact-field {
  padding-bottom: 3px;
  font-size: 0.9em;
}

.contact-field .label {
  margin-left: 144px;
  color: #888888;
}

.contact-field .type {
  color: #888888;
  margin-left: 83px;
}

.contact-field .value {
  color: black;
  margin-left: 15px;
}

.contact-field .lone-value {
  margin-left: 144px;
  color: #000000;
}

.contact-field img {
  margin-left: 10px;
}

hr {
  border: 0;
  height: 1px;
  width: 600px;
  text-align: left;
  margin-left: 0;
  background: -moz-linear-gradient(left, #EEEEEE, transparent);
}

#spinner {
  position: absolute;
  top: 200px;
  left: 165px;
}
